{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "home/header.html" %}

 <!-- Responsive navbar-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-col " aria-label="Twelfth navbar example">
    <div class="container">
        <a class="navbar-brand text-light" href="#!">ACCOMODATION</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="#!">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header - set the background image for the header in the line below-->

<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <img src="{{info.image.url}}">
            <div class="col-lg-10">
                <h2>{{into.header}}</h2>
                <p class="lead">A{{info.description|safe}}</p>
            </div>
        </div>
    </div>

    
    {% for hall in hall %}
    <button type="button" class="btn btn-primary m-5" data-bs-toggle="modal" data-bs-target="#{{hall.id}}">
        {{hall.hall_name}}
    </button>

      <div class="modal fade" id="{{hall.id}}" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{hall.hall_name}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <img src="{{hall.image.url}}" height="300" width="300">
            <div class="modal-body p-0">
             {{hall.description}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    
         
    {% endfor %}
</section>

<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Engaging Background Images</h2>
                <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
                <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}