{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "home/header.html" %}

 <!-- Responsive navbar-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-col " aria-label="Twelfth navbar example">
    <div class="container">
        <a class="navbar-brand text-light" href="#!">PRINCIPALS FOR THE COLLEGE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="#!">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header - set the background image for the header in the line below-->

<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <h2>{{principal.header}}</h2>
                <p class="lead">{{principal.bio|safe}}</p>
                {% for image in principalImage %}
                 <div class="col-md-6 col-sm-12" style="width: 18rem;">
                    <img src="{{image.photo.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title border-bottom">{{image.name}}</h5>
                      <p class="card-text">{{image.title}} from {{image.year}}</p>
                    </div>
                  </div>
                  {% endfor %}
            </div>
        </div>
        
    </div>
</section>



{% endblock content %}